name: Create Release and Upload Build Artifacts

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Shortify commit sha
        shell: bash
        run: echo "sha_short=$(echo ${GITHUB_SHA::7})" >> $GITHUB_OUTPUT
        id: shortify_commit

      - name: Get branch
        shell: bash
        run: echo "ref_short=$(echo ${GITHUB_REF##*/})" >> $GITHUB_OUTPUT
        id: get_branch

      - name: Setup GH Actions
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Get stable flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.x'
          channel: 'stable'

      - name: Install Java 17
        run: |
          sudo apt update
          sudo apt install openjdk-17-jdk -y
          sudo update-alternatives --config java
          export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
          export PATH=$JAVA_HOME/bin:$PATH
          echo "JAVA_HOME set to $JAVA_HOME"
          java -version  # Проверим, что Java 17 установлена

      - name: Prepare build directory
        run: |
          flutter clean
          rm -rf build/*
          rm -rf web/src/mm2/*
          rm -rf web/src/kdfi/*
          rm -rf web/dist/*
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch packages and generate assets
        run: |
          echo "Running \`flutter build\` to generate assets for the deployment build"
          flutter pub get > /dev/null 2>&1
          flutter build apk --release > /dev/null 2>&1 || true
          flutter pub get > /dev/null 2>&1
          echo "Done fetching packages and generating assets"

      - name: Build GRMS Wallet Android
        run: |
          flutter doctor -v
          flutter build apk --release

      - name: Validate build
        run: |
          if [ ! -f build/app/outputs/flutter-apk/app-release.apk ]; then
            echo "Error: Android build failed. No APK file found."
            exit 1
          fi

      - name: Archive build artifacts
        run: |
          zip -r build-android.zip build/app/outputs/flutter-apk/

      - name: Upload build as artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-build
          path: build-android.zip

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build-android.zip
          asset_name: app-release.apk
          asset_content_type: application/zip
